.ServicesSection{
    .service{
        width: 95%;
        background-color: #2E151B;
        border-left: 1px solid #2F4454;
        border-right: 1px solid #2F4454;
        border-bottom: 1px solid #2F4454;
        border-top: 8px solid #2F4454;
        transition: all .4s ease-in-out;
        @media screen and (max-width: 1300px) {
            flex-direction: column;
            width: 100%;
            margin-bottom: 1rem;
        }
        &:hover{
            border-top: 8px solid #DA7B93;
        }
        .service-content{
            padding: 1rem;
            .s-title{
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 1px;
                    background-color: #2F4454;
                }
            }
        }
    }
}

.services-container{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    @media screen and (max-width: 1300px) {
        flex-direction: column;
    }
   
}